body {background-color: white;}
a {color: black; text-decoration: black;}

.wrapper {
    background-color: #314570;
    border: black solid;
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-column: 4px;
    grid-row: 2px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 240px));
    padding: 4px;
    text-align: center;
    }

.container {
    background-color: white;
    color: #314570;
    font-size: 350%;
    position: relative;
    text-align: center;
  }

.middle {
    left: 50%;
    position: absolute; 
    top: 50%;
    transform: translate(-50%, -50%);
  }

.h1-1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
 
.img-1 { 
    display: block;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.img-2 { 
  display: block;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.t1 {
    width: 100%;
}

.art1 {
    background-color: #AED1D6;
    border: black 3px solid;
    border-bottom: black 1px solid;
    border-collapse: collapse;
}

.art2 {
  background-color: #AED1D6;
  border: black 3px solid;
  border-bottom: black 1px solid;
  border-collapse: collapse;

}

.art3 {
  background-color: #AED1D6;
  border: black 3px solid;
  border-collapse: collapse;
}

.art1-1 {
  background-color: #AED1D6;
  border: black 3px solid;
  border-bottom: black 1px solid;
}

.art1-1-2 {
  background-color: #AED1D6;
  border: black 3px solid;
}

.art1-2 {
  background-color: #AED1D6;
  border: black 3px solid;
}

.art1-3 {
  background-color: #AED1D6;
  border: black 3px solid;
}

.art1-4 {
  background-color: #AED1D6;
  border: black 3px solid;
}

.td1 {
  background-color: #314570;
  border: black 3px solid;
  border-collapse: collapse;
  vertical-align: top;
}

input, button {
        border: 1px solid #555;
        padding: 5px;
}

.logo {
    color: blue;
    font-size: 30px;
}
